block head
    title #{title}
    link(rel="stylesheet", href="/styles.css")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
block content
    include layout
    .content-wrapper.text-center
        .black-overlay.text-center
            .content.text-center
                h1.display-4 Lotto-Peli

        .container.mt-8
            .p.mb-2 Valitse numerosi
            form(action="/check-numbers" method="post")
                .number-grid
                    each num in [...Array(39).keys()].map(n => n + 1)
                        - const isChecked = selectedNumbers && selectedNumbers.includes(num);
                        .number-box
                            input(
                                type="checkbox",
                                id=`num${num}`,
                                name="numbers",
                                value=`${num}`,
                                onchange="limitSelection(this)",
                                checked=isChecked
                            )
                            label(for=`num${num}`) #{num}
                button.btn.btn-primary.mt-4.fancy-button(type="submit") Tarkista

            if results
                .mt-4.results-container
                    span.results-list
                        h2 Tulos
                        p #{results.message}
                        if results.counts.length
                            ul
                                each item in results.counts
                                    li
                                        b #{item.correctCount} oikein: #{item.count} kertaa
                            button.btn.btn-secondary.mt-2.fancy-button(type="button", id="toggleDatesButton") Näytä päivämäärät 
                            ul#datesList
                                each item in results.counts
                                    li
                                        b #{item.correctCount} oikein: #{item.count} kertaa
                                        if item.dates.length
                                            ul
                                                each date in item.dates
                                                    li #{date}
                    span.pie-chart-container
                        canvas#pieChart

    // Fireworks and Confetti
    canvas#fireworks-container
    canvas#confetti-holder

    // Winning Modal
    .modal.fade#winningModal(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Voitit!
                    button.btn-close#modalCloseBtn(type='button', data-bs-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p Onneksi olkoon! Arvasit kaikki 7 numeroa oikein!
block scripts
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="https://code.jquery.com/jquery-3.7.1.min.js", integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=", crossorigin="anonymous")
    script(src="/js/lib/fireworks/index.umd.js")
    script(src="/js/lib/confetti/index.min.js")
    script(src="/js/scripts.js")
    script.
        var hasResults = #{results ? 'true' : 'false'};
        var win = #{win ? 'true' : 'false'};
        var results = !{JSON.stringify(results)};