doctype html
html
    head
        link(
        rel='stylesheet',
        href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css',
        crossorigin='anonymous'
        )

        link(
            rel='stylesheet',
            href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css',
            crossorigin='anonymous',
            referrerpolicy='no-referrer'
        )
        link(rel='stylesheet', href='/styles.css')
        style.
            #fireworks-container {
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                z-index: 9999;
            }
            #confetti-container {
                position: fixed;
                top: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                z-index: 9999;
            }
            .modal-backdrop {
                z-index: 1040 !important;
            }
            .modal-content {
                z-index: 1100 !important;
            }
        // ...existing code...
    body
        // Add a navbar at the top
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/') Etusivu
                li.nav-item
                    a.nav-link(href='/stats') Tilastot
                li.nav-item
                    a.nav-link(href='/help') Ohjeet
        block content
        // ...existing code...
